/* Your custom styles */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
	margin-top:15px;
	flex: 1 0 auto;
}

.fa-2 {
    font-size: 20px!important;
    vertical-align: middle;
}

.fa-3 {
    font-size: 30px!important;
    vertical-align: middle;
}

.fa-4 {
    font-size: 40px!important;
    vertical-align: middle;
}

.fa-5 {
    font-size: 50px!important;
    vertical-align: middle;
}

.fa-6 {
    font-size: 60px!important;
    vertical-align: middle;
}

.nav-logo {
    padding-top: 30px;
    padding-bottom: 30px;
}

nav .navbar-brand.center {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
}

.side-nav {
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
}

.side-nav.fixed {
    left: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    position: fixed;
    box-shadow: 1px 1px 16px #a0a0a0;
}

.side-nav .user-view, .side-nav .userView {
    position: relative;
    padding: 32px 32px 0;
    margin-bottom: 8px;
}

.side-nav li>a {
    color: rgba(0,0,0,0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}


.navbar-nav .user-view .name, .side-nav .user-view .name {
    margin-top: 16px;
    font-weight: 500;
}


.navbar-nav .user-view .name, .navbar-nav .user-view .email, .side-nav .user-view .name {
    font-size: 14px;
    line-height: 24px;
}

.navbar-nav .user-view .circle, .navbar-nav .user-view .name, .navbar-nav .user-view .email, .side-nav .user-view .circle, .side-nav .user-view .name, .side-nav .user-view .email {
    display: block;
}

.navbar-nav .user-view .email, .side-nav .user-view .email {
    padding-bottom: 16px;
    font-weight: 400;
}

.heading {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.color-block {
    text-align: center;
    height: 130px;
    color: #fff;
    padding: 40px;
}

.color-block-dark {
    height: 130px;
    text-align: center;
    color: #fff;
    padding: 40px;
}

.dynamic-color .col-md-4 div {
    padding: 7px 20px 7px 20px;
}

code[class*=language-], pre[class*=language-] {
    color: #292b2c;
    background: #eaeaea;
    font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    font-size: .85rem;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

.language-markup .token.attr-name, .language-markup .token.punctuation, .language-markup .token.tag {
    color: #2456a0;
}

.token.tag {
    box-shadow: none;
    text-shadow: none;
    font-weight: 400;
    display: inline;
    padding: 0;
}
.token.boolean, .token.deleted, .token.number, .token.tag {
    color: #ce6849;
}

.language-css .token.string, .style .token.string, .token.attr-name, .token.attr-value, .token.char, .token.entity, .token.inserted, .token.operator, .token.string, .token.url, .token.variable {
    color: #b4284f;
}
.token {
    position: relative;
    z-index: 1;
}

code[class*=language-], pre[class*=language-] {
    max-height: 450px;
}

pre.code-toolbar {
    position: relative;
}
pre[class*=language-] {
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.2), 0 1px 6px 0 rgba(0,0,0,.19);
    margin: 2.5em 0;
    overflow: auto;
    padding: 1em;
}

.valign-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.md-form label {
    /*z-index: -1;*/
    font-size: 14px;
    font-weight: 300;
}
table td {
    font-size: 14px;
    font-weight: 300;
}

#infoMessage p {
    margin-bottom: 0;
}

#clean-icon{
	display:none;
	position:relative;
	top:25px;
	right:0;
	z-index: 1000;
}

.iconpicker-popover{
	z-index:1000!important;
}

#adminmenu{
	padding-top:60px;
}

.wysiwyg-font-size-8 {
  font-size: 8px; }

.wysiwyg-font-size-9 {
  font-size: 9px; }

.wysiwyg-font-size-10 {
  font-size: 10px; }

.wysiwyg-font-size-11 {
  font-size: 11px; }

.wysiwyg-font-size-12 {
  font-size: 12px; }

.wysiwyg-font-size-14 {
  font-size: 14px; }

.wysiwyg-font-size-18 {
  font-size: 18px; }

.wysiwyg-font-size-24 {
  font-size: 24px; }

.wysiwyg-font-size-30 {
  font-size: 30px; }

.wysiwyg-font-size-36 {
  font-size: 36px; }

.wysiwyg-font-size-48 {
  font-size: 48px; }

.wysiwyg-font-size-60 {
  font-size: 60px; }

.wysiwyg-font-size-72 {
  font-size: 72px; }

.wysiwyg-font-size-96 {
  font-size: 96px; }
