<h3>{logo}</h3>
<h4>Payment Details</h4>
<p>
	Hello {contact_person} ({company}),
</p>
<p>
	Payment for order
    ({reference_number}) has been added. Please visit {site_link} to manage your orders.
</p>
<p>
    Best regards,
    <br>
    {site_name}
</p>